@import "mixins";

#skills{
    max-width: 500px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 5rem auto auto;

    .title{
        text-align: center;
        margin-bottom: 2rem;
        h2{
            text-transform: uppercase;
            font-size: 1.8rem;
        }
    }
}

.skill-html, .skill-css, .skill-github, .skill-sass, .skill-javascript{
    width: 100%;

    .html-statistic,.css-statistic, .github-statistic, .sass-statistic, .javascript-statistic{
        display: flex;
        align-items: flex-end;
    }
    
    .html-icon, .css-icon, .github-icon, .sass-icon, .javascript-icon{
        @include flexCenter;
        min-width: 60px;
        height: 55px;
        background-color: rgb(60, 60, 60);
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    
        i{
            color: white;
        }
    
        &::after{
            content: "";
            height: calc(100% + 5px);
            width: 100%;
            position: absolute;
            top: 0px;
            background-color: rgb(35, 35, 35);
            z-index: -3;
            border-radius: 5px;
        }
    
        &:hover{
            background-color: rgb(70, 70, 70);
    
            &::after{
                background-color: rgb(45, 45, 45);
            }
        }
    }
    
    .bar{
        width: 100%;
        height: 30px;
        background-color: rgb(219, 219, 219);
        z-index: -3;
    }
    .progress{
        @include flexCenter;
        height: 100%;
        background-color: rgb(184, 184, 184);
    
        p{
            font-weight: 700;
            color: rgb(53, 53, 53);
        }
    }
    
    .description{
        display: none;
        overflow: hidden;
        position: relative;
        z-index: -3;
        animation: translate-description 0.4s ease;

        &.active{
            display: block;
            background-color: rgb(49, 49, 49);
            color: white;
            padding: 1rem;
            margin-top: 1rem;
            border-radius: 5px;
            width: 100%;
        
            h2{
                margin-bottom: 1rem;
                font-size: 1.2rem;
            }
        
            p{
                line-height: 1.5rem;
                text-align: justify;
            }
        }
    } 
}

@keyframes translate-description {
    from{
        transform: translateX(100%);
        opacity: 0;
    }to{
        transform: translateX(0%);
        opacity: 1;
    }
}

.skill-html .progress{
    width: 90%;
}

.skill-css .progress{
    width: 92%;
}

.skill-github .progress{
    width: 55%;
}

.skill-sass .progress{
    width: 60%;
}

.skill-javascript .progress{
    width: 65%;
}
