@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 3.7rem 0rem;
  padding: 1.3rem;
  overflow-x: hidden;
}

[data-anime] {
  opacity: 0;
  transition: all 0.6s;
}

[data-anime=left] {
  transform: translate3d(-200px, 0px, 0px);
}

[data-anime=right] {
  transform: translate3d(200px, 0px, 0px);
}

[data-anime=top] {
  transform: translate3d(0px, -200px, 0px);
}

[data-anime].anime-scroll {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

header {
  width: 100vw;
  padding: 0.6rem 2rem 0.6rem 1rem;
  background-color: rgb(70, 70, 70);
  border-bottom: 6px solid rgb(55, 55, 55);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0px;
}
header .icon-web {
  height: 55px;
}
header .icon-web img {
  width: 55px;
}
header ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
header ul .base-btn {
  position: relative;
  z-index: 2;
}
header ul .base-btn .btn-menu {
  display: flex;
  align-items: center;
  color: white;
  background-color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
  border-radius: 10px;
  color: rgb(60, 60, 60);
  text-decoration: none;
  text-transform: uppercase;
}
header ul .base-btn .btn-menu::after {
  content: "";
  width: 100%;
  height: calc(100% + 5px);
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: hsl(0deg, 0%, 80%);
  z-index: -1;
  border-radius: 10px;
}
header ul .base-btn .btn-menu:active {
  background-color: hsl(0deg, 0%, 100%);
  transform: translateY(5px);
}
header ul .base-btn .btn-menu:active::after {
  display: none;
}
header .menu-mobile {
  width: 45px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
header .menu-mobile::after {
  content: "";
  height: calc(100% + 4px);
  width: 100%;
  position: absolute;
  background-color: rgb(204, 204, 204);
  z-index: -3;
  top: 0px;
  border-radius: 5px;
}
header .menu-mobile span {
  display: block;
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
}
header .menu-mobile span::after, header .menu-mobile span::before {
  content: "";
  width: 35px;
  height: 6px;
  position: absolute;
  background-color: rgb(66, 66, 66);
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s;
}
header .menu-mobile span::before {
  top: -12px;
}
header .menu-mobile span::after {
  top: 12px;
}
header.active .menu-mobile span {
  background-color: transparent;
}
header.active .menu-mobile span::before {
  top: 0px;
  transform: rotate(-45deg);
}
header.active .menu-mobile span::after {
  top: 0px;
  transform: rotate(45deg);
}

@media (max-width: 750px) {
  header nav {
    display: none;
    z-index: -5;
    animation: menu-transition 0.4s ease;
  }
  header.active nav {
    display: block;
    position: absolute;
    background-color: rgb(70, 70, 70);
    height: 100vh;
    top: 0px;
    right: 0px;
    padding: 2rem;
  }
  header.active nav ul {
    flex-direction: column;
    margin-top: 6rem;
  }
  @keyframes menu-transition {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  header .menu-mobile {
    display: flex;
  }
}
#start {
  width: calc(100% + 2.6rem);
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  transform: translateX(-1.3rem);
  padding: 7.5rem 2rem;
  overflow: hidden;
  position: relative;
}
#start .my-name h1 {
  font-size: 3.5rem;
}
#start .my-name p {
  margin: 1rem 0rem 3rem;
}
#start .my-name .buttons-start {
  display: flex;
  gap: 30px;
}
#start .my-name .buttons-start .btn-social-media {
  background-color: rgb(70, 70, 70);
  padding: 1rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
#start .my-name .buttons-start .btn-social-media::after {
  content: "";
  width: 100%;
  height: calc(100% + 5px);
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: hsl(0deg, 0%, 20%);
  z-index: -1;
  border-radius: 4px;
}
#start .my-name .buttons-start .btn-social-media:active {
  background-color: rgb(70, 70, 70);
  transform: translateY(5px);
}
#start .my-name .buttons-start .btn-social-media:active::after {
  display: none;
}
#start .container-img .img-main {
  display: flex;
  justify-content: center;
  position: relative;
}
#start .container-img .img-main img {
  padding-right: 3rem;
}
#start .container-img div::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 300px;
  background-color: rgb(243, 243, 243);
  z-index: -4;
  transform: translate(-28px, -200px);
}
#start .container-img .background {
  width: 1450px;
  height: 1850px;
  position: absolute;
  background-color: hsl(0deg, 0%, 87%);
  top: 0px;
  right: -500px;
  z-index: -5;
  transform: rotate(45deg);
}
#start .container-img::before {
  content: "";
  position: absolute;
  border: 1px solid;
  border-color: hsl(0deg, 0%, 87%) transparent transparent transparent;
  border-width: 70px;
  left: 50%;
  top: 445px;
  transform: translateX(-50%);
  z-index: -4;
}

@media (max-width: 850px) {
  #start {
    flex-direction: column-reverse;
    padding: 5rem 1.3rem 2rem;
    align-items: center;
    gap: 40px;
  }
  #start .my-name {
    margin-top: 5rem;
    text-align: center;
  }
  #start .my-name .buttons-start {
    flex-direction: column;
    align-items: center;
  }
  #start .container-img {
    position: static;
  }
  #start .container-img .img-main img {
    padding-right: 0rem;
    padding-left: 0.5rem;
  }
  #start .container-img .img-main::after {
    transform: translate(0px, -200px);
  }
  #start .container-img .background {
    max-width: 1400px;
    height: 450px;
    transform: rotate(0deg);
    right: 0px;
  }
}
@media (max-width: 450px) {
  #start .my-name {
    padding-top: 2rem;
  }
  #start .my-name h1 {
    font-size: 2rem;
  }
  #start .container-img::before {
    top: 310px;
  }
  #start .container-img .img-main img {
    width: 200px;
  }
  #start .container-img .img-main::after {
    transform: translate(2px, -200px);
    width: 10px;
  }
  #start .container-img .background {
    height: 330px;
  }
}
#skills {
  max-width: 500px;
  row-gap: 30px;
  display: flex;
  flex-direction: column;
  margin: 5rem auto auto;
}
#skills .title {
  text-align: center;
  margin-bottom: 2rem;
}
#skills .title h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.skill-html, .skill-css, .skill-github, .skill-sass, .skill-javascript {
  width: 100%;
}
.skill-html .html-statistic, .skill-html .css-statistic, .skill-html .github-statistic, .skill-html .sass-statistic, .skill-html .javascript-statistic, .skill-css .html-statistic, .skill-css .css-statistic, .skill-css .github-statistic, .skill-css .sass-statistic, .skill-css .javascript-statistic, .skill-github .html-statistic, .skill-github .css-statistic, .skill-github .github-statistic, .skill-github .sass-statistic, .skill-github .javascript-statistic, .skill-sass .html-statistic, .skill-sass .css-statistic, .skill-sass .github-statistic, .skill-sass .sass-statistic, .skill-sass .javascript-statistic, .skill-javascript .html-statistic, .skill-javascript .css-statistic, .skill-javascript .github-statistic, .skill-javascript .sass-statistic, .skill-javascript .javascript-statistic {
  display: flex;
  align-items: flex-end;
}
.skill-html .html-icon, .skill-html .css-icon, .skill-html .github-icon, .skill-html .sass-icon, .skill-html .javascript-icon, .skill-css .html-icon, .skill-css .css-icon, .skill-css .github-icon, .skill-css .sass-icon, .skill-css .javascript-icon, .skill-github .html-icon, .skill-github .css-icon, .skill-github .github-icon, .skill-github .sass-icon, .skill-github .javascript-icon, .skill-sass .html-icon, .skill-sass .css-icon, .skill-sass .github-icon, .skill-sass .sass-icon, .skill-sass .javascript-icon, .skill-javascript .html-icon, .skill-javascript .css-icon, .skill-javascript .github-icon, .skill-javascript .sass-icon, .skill-javascript .javascript-icon {
  min-width: 60px;
  height: 55px;
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skill-html .html-icon i, .skill-html .css-icon i, .skill-html .github-icon i, .skill-html .sass-icon i, .skill-html .javascript-icon i, .skill-css .html-icon i, .skill-css .css-icon i, .skill-css .github-icon i, .skill-css .sass-icon i, .skill-css .javascript-icon i, .skill-github .html-icon i, .skill-github .css-icon i, .skill-github .github-icon i, .skill-github .sass-icon i, .skill-github .javascript-icon i, .skill-sass .html-icon i, .skill-sass .css-icon i, .skill-sass .github-icon i, .skill-sass .sass-icon i, .skill-sass .javascript-icon i, .skill-javascript .html-icon i, .skill-javascript .css-icon i, .skill-javascript .github-icon i, .skill-javascript .sass-icon i, .skill-javascript .javascript-icon i {
  color: white;
}
.skill-html .html-icon::after, .skill-html .css-icon::after, .skill-html .github-icon::after, .skill-html .sass-icon::after, .skill-html .javascript-icon::after, .skill-css .html-icon::after, .skill-css .css-icon::after, .skill-css .github-icon::after, .skill-css .sass-icon::after, .skill-css .javascript-icon::after, .skill-github .html-icon::after, .skill-github .css-icon::after, .skill-github .github-icon::after, .skill-github .sass-icon::after, .skill-github .javascript-icon::after, .skill-sass .html-icon::after, .skill-sass .css-icon::after, .skill-sass .github-icon::after, .skill-sass .sass-icon::after, .skill-sass .javascript-icon::after, .skill-javascript .html-icon::after, .skill-javascript .css-icon::after, .skill-javascript .github-icon::after, .skill-javascript .sass-icon::after, .skill-javascript .javascript-icon::after {
  content: "";
  height: calc(100% + 5px);
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: rgb(35, 35, 35);
  z-index: -3;
  border-radius: 5px;
}
.skill-html .html-icon:hover, .skill-html .css-icon:hover, .skill-html .github-icon:hover, .skill-html .sass-icon:hover, .skill-html .javascript-icon:hover, .skill-css .html-icon:hover, .skill-css .css-icon:hover, .skill-css .github-icon:hover, .skill-css .sass-icon:hover, .skill-css .javascript-icon:hover, .skill-github .html-icon:hover, .skill-github .css-icon:hover, .skill-github .github-icon:hover, .skill-github .sass-icon:hover, .skill-github .javascript-icon:hover, .skill-sass .html-icon:hover, .skill-sass .css-icon:hover, .skill-sass .github-icon:hover, .skill-sass .sass-icon:hover, .skill-sass .javascript-icon:hover, .skill-javascript .html-icon:hover, .skill-javascript .css-icon:hover, .skill-javascript .github-icon:hover, .skill-javascript .sass-icon:hover, .skill-javascript .javascript-icon:hover {
  background-color: rgb(70, 70, 70);
}
.skill-html .html-icon:hover::after, .skill-html .css-icon:hover::after, .skill-html .github-icon:hover::after, .skill-html .sass-icon:hover::after, .skill-html .javascript-icon:hover::after, .skill-css .html-icon:hover::after, .skill-css .css-icon:hover::after, .skill-css .github-icon:hover::after, .skill-css .sass-icon:hover::after, .skill-css .javascript-icon:hover::after, .skill-github .html-icon:hover::after, .skill-github .css-icon:hover::after, .skill-github .github-icon:hover::after, .skill-github .sass-icon:hover::after, .skill-github .javascript-icon:hover::after, .skill-sass .html-icon:hover::after, .skill-sass .css-icon:hover::after, .skill-sass .github-icon:hover::after, .skill-sass .sass-icon:hover::after, .skill-sass .javascript-icon:hover::after, .skill-javascript .html-icon:hover::after, .skill-javascript .css-icon:hover::after, .skill-javascript .github-icon:hover::after, .skill-javascript .sass-icon:hover::after, .skill-javascript .javascript-icon:hover::after {
  background-color: rgb(45, 45, 45);
}
.skill-html .bar, .skill-css .bar, .skill-github .bar, .skill-sass .bar, .skill-javascript .bar {
  width: 100%;
  height: 30px;
  background-color: rgb(219, 219, 219);
  z-index: -3;
}
.skill-html .progress, .skill-css .progress, .skill-github .progress, .skill-sass .progress, .skill-javascript .progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(184, 184, 184);
}
.skill-html .progress p, .skill-css .progress p, .skill-github .progress p, .skill-sass .progress p, .skill-javascript .progress p {
  font-weight: 700;
  color: rgb(53, 53, 53);
}
.skill-html .description, .skill-css .description, .skill-github .description, .skill-sass .description, .skill-javascript .description {
  display: none;
  overflow: hidden;
  position: relative;
  z-index: -3;
  animation: translate-description 0.4s ease;
}
.skill-html .description.active, .skill-css .description.active, .skill-github .description.active, .skill-sass .description.active, .skill-javascript .description.active {
  display: block;
  background-color: rgb(49, 49, 49);
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 100%;
}
.skill-html .description.active h2, .skill-css .description.active h2, .skill-github .description.active h2, .skill-sass .description.active h2, .skill-javascript .description.active h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.skill-html .description.active p, .skill-css .description.active p, .skill-github .description.active p, .skill-sass .description.active p, .skill-javascript .description.active p {
  line-height: 1.5rem;
  text-align: justify;
}

@keyframes translate-description {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.skill-html .progress {
  width: 90%;
}

.skill-css .progress {
  width: 92%;
}

.skill-github .progress {
  width: 55%;
}

.skill-sass .progress {
  width: 60%;
}

.skill-javascript .progress {
  width: 65%;
}

#about {
  margin: 10rem 0rem;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#about .my-img {
  min-width: 300px;
  height: 300px;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  position: relative;
}
#about .my-img:hover {
  background-color: rgb(179, 179, 179);
}
#about .my-img:hover img {
  filter: saturate(100%);
}
#about .my-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: saturate(20%);
}
#about .biography {
  max-width: 500px;
  text-align: justify;
  line-height: 1.8rem;
}

@media (max-width: 750px) {
  #about {
    flex-direction: column;
  }
}
#projects {
  display: grid;
  grid-template-columns: auto auto auto;
  width: calc(100% + 2.6rem);
  background-color: rgb(70, 70, 70);
  transform: translateX(-1.3rem);
  gap: 30px;
  padding: 1.3rem 5rem;
}
#projects .project {
  padding: 0.7rem 0.7rem 1.3rem 0.7rem;
  text-align: center;
  color: rgb(49, 49, 49);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  position: relative;
  transition: transform 0.5s;
  z-index: 1;
}
#projects .project:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
}
#projects .project .img-project {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 5px;
}
#projects .project p {
  margin: 1rem 0rem 2rem;
  line-height: 1.6rem;
}
#projects .project .base-btn-view {
  position: relative;
}
#projects .project .btn-view {
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
  border: 1px solid black;
  overflow: hidden;
  transition: color 0.8s, letter-spacing 0.8s;
}
#projects .project .btn-view::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.7s;
}
#projects .project .btn-view:hover {
  color: white;
  letter-spacing: 0.2rem;
}
#projects .project .btn-view:hover::after {
  width: 100px;
  height: 100px;
}

@media (max-width: 1100px) {
  #projects {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 750px) {
  #projects {
    grid-template-columns: auto;
  }
}
@media (max-width: 500px) {
  #projects {
    padding: 1.3rem;
  }
}
.selected {
  position: absolute;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  z-index: -2;
  animation: selected 0.5s linear infinite;
  display: none;
  background-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-menu:hover ~ .selected, .html-icon:hover .selected, .css-icon:hover .selected, .github-icon:hover .selected, .sass-icon:hover .selected, .javascript-icon:hover .selected, .menu-mobile:hover .selected, .project:hover .selected, .my-img:hover .selected, .btn-social-media:hover .selected {
  display: block;
}

@keyframes selected {
  50% {
    width: calc(100% + 33px);
    height: calc(100% + 33px);
  }
  100% {
    width: calc(100% + 24px);
    height: calc(100% + 24px);
  }
}
.top-left::after, .top-left div::after, .top-right::after, .top-right div::after, .bottom-left::after, .bottom-left div::after, .bottom-right::after, .bottom-right div::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 6px;
}

.top-left::after, .top-left::before, .top-right::after, .top-right::before {
  top: 0px;
  background-color: hsl(0deg, 65%, 65%);
  z-index: 1;
}

.top-left::before, .top-left div::before, .top-right::before, .top-right div::before, .bottom-left::before, .bottom-left div::before, .bottom-right::before, .bottom-right div::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 23px;
}

.top-left div::before, .top-left::after, .top-left::before, .top-left div::after, .bottom-left div::before, .bottom-left::after, .bottom-left::before, .bottom-left div::after {
  left: 0px;
}

.top-right::after, .top-right::before, .top-right div::after, .top-right div::before, .bottom-right::after, .bottom-right::before, .bottom-right div::after, .bottom-right div::before {
  right: 0px;
}

.bottom-left::after, .bottom-left::before, .bottom-right::after, .bottom-right::before {
  bottom: 0px;
  background-color: hsl(0deg, 65%, 65%);
  z-index: 1;
}

.top-left div::before, .top-right div::after, .top-right div::before, .top-left div::after {
  top: 4px;
  background-color: hsl(350deg, 65%, 53%);
}

.bottom-left div::before, .bottom-right div::after, .bottom-right div::before, .bottom-left div::after {
  bottom: -4px;
  background-color: hsl(350deg, 65%, 53%);
}

footer {
  width: 100%;
  background-color: rgb(70, 70, 70);
  padding: 0rem 1rem;
}
footer .icon-web {
  padding-top: 0.3rem;
}
footer .icon-web img {
  width: 40px;
}

/*# sourceMappingURL=main.css.map */
